<div class="row">
  <div class="col-md-12">
    <h1 class="page-header text-center">Startup Ipsum</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <p>Steve Jobs pair programming earned media disrupt earned media food-truck paradigm co-working parallax ideate moleskine thought leader. Quantitative vs. qualitative entrepreneur integrate pivot iterate waterfall is so 2000 and late iterate. Prototype iterate ideate user story parallax minimum viable product paradigm long shadow personas thinker-maker-doer co-working user centered design bootstrapping. Disrupt user story long shadow food-truck parallax actionable insight sticky note long shadow convergence convergence. Parallax physical computing cortado 360 campaign pitch deck pivot actionable insight thinker-maker-doer piverate.</p>

    <p>Ideate engaging grok iterate paradigm bootstrapping ideate earned media innovate user centered design 360 campaign. Ideate big data earned media pivot responsive iterate venture capital convergence. Physical computing latte co-working ideate iterate paradigm driven iterate responsive co-working. Disrupt ideate thought leader 360 campaign earned media earned media human-centered design ship it moleskine ship it. Agile latte thinker-maker-doer long shadow affordances SpaceTeam user story user story pair programming innovate thought leader big data integrate user centered design.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="center-block">
      <a href="/contact">
        <button class="btn btn-warning btn-lg text-uppercase center-block">
          Contact Us
        </button>
      </a>
    </div>
  </div>
</div>
