<div class="page-title" id="creative">
   <div class="wrap">
    <h1 class="entry-title" itemprop="headline">Tech and Resources</h1>
   </div>
</div>

<div class="col-md-3" style="">
   <nav class="nav-secondary" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement"><div class="wrap"><ul id="menu-about-us" class="menu genesis-nav-menu menu-secondary"><li id="menu-item-508" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item menu-item-508"><a href="http://www.vervemobile.com/about-us/">Overview</a></li>
            <li id="menu-item-469" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-469"><a href="http://www.vervemobile.com/about-us/management/">Management</a></li>
            <li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245"><a href="http://www.vervemobile.com/about-us/board-of-directors/">Board of Directors</a></li>
            <li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246"><a href="http://www.vervemobile.com/about-us/advisory-board/">Advisory Board</a></li>
            <li id="menu-item-567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-567"><a href="http://www.vervemobile.com/about-us/latest-news/">Latest News</a></li>
            <li id="menu-item-1366" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1366"><a href="http://www.vervemobile.com/about-us/ververesearch/">Research</a></li>
            <li id="menu-item-2901" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2901"><a href="http://www.vervemobile.com/jobs/">Careers</a></li>
   </ul>
   </div>
   
   </nav>
</div>

<div class="col-md-6" style=" ">
   
<article class="post-13 page type-page status-publish entry" itemscope="itemscope" itemtype="http://schema.org/CreativeWork"><header class="entry-header"></header><div class="entry-content" itemprop="text"><div id="one" class="firstsection">
<h2>Mobile leadership with a difference</h2>
<div class="aboutus text">
<p>Harnessing the power of real-time mobile location data, Verve is the pioneering leader in connecting mobile advertising with in-store sales.</p>
<p>93% of all consumer sales happen in the real-world, in brick and mortar stores. For the first time ever, brands leveraging the patented Verve platform can deliver an ad to a consumer on their mobile digital devices and connect that message to actual store-level foot traffic.</p>
<p>We analyze billions of precise location signals to better understand the consumer’s path-to-purchase and reach the right people, at the right time, in the right place—when they are most likely to be influenced by your message.
</p><p>We drive measurable results for Retailers, CPG, Auto, Restaurant and other drive-to-retail advertisers and we prove it with unparalleled post campaign analytics and insights.</p>
<p>Verve created the location-based mobile ad category in 2005 and has been the clear leader in the space ever since.</p>
</div>
<hr>
<h5>Members of</h5>
<div id="memberlogos">
<div class="one-half first">
<a href="http://www.mmaglobal.com/" target="_blank"><img src="http://www.vervemobile.com/wp-content/themes/centric-pro/images/mma.png" alt="Mobile Marketing Association (MMA)" title="Mobile Marketing Association" width="150" height="60"></a><a href="http://www.iab.net/mobilecenter" target="_blank"><img src="http://www.vervemobile.com/wp-content/themes/centric-pro/images/iab.png" alt="Interactive Advertising Bureau (IAB)" title="Interactive Advertising Bureau (IAB)"></a>
</div>
<div class="one-half rightside">
<a href="http://www.digitaladvertisingalliance.org/" target="_blank"><img src="http://www.vervemobile.com/wp-content/themes/centric-pro/images/DAA.png" alt="DAA" width="132" height="38" class="alignleft"></a><a href="http://www.networkadvertising.org/" target="_blank"><img src="http://www.vervemobile.com/wp-content/themes/centric-pro/images/logo_NAI.png" alt="logo_NAI" width="100" height="30"></a>
</div>
</div>
</div>
</div></article>
</div>

<div class="col-md-3" style="background-color:green; height:50px;"></div>


