<div class="page-title" id="creative">
   <div class="wrap">
    <h1 class="entry-title" itemprop="headline">Tech and Resources</h1>
   </div>
</div>


<style>
    
</style>
<body>
<div class="container">
<div class="col-lg-12" style="">       
      <div class="col-lg-3" style=""> 
                  <ul id="menu-about-us" class="menu genesis-nav-menu menu-secondary">
                              <li id="menu-item-508" class="submenu_item current_page"><a href="http://auto-leadgen.herokuapp.com/tech/">Technology & Resources</a></li>
                              <li id="menu-item-469" class="submenu_item"><a href="http://auto-leadgen.herokuapp.com/tech/consumers">Consumer Segments</a></li>
                              <li id="menu-item-245" class="submenu_item"><a href="http://auto-leadgen.herokuapp.com/tech/creatives">Wall of Creative</a></li>
                              <!--<li id="menu-item-246" class="submenu_item"><a href="http://www.vervemobile.com/about-us/advisory-board/">Advisory Board</a></li>-->
                              <!--<li id="menu-item-567" class="submenu_item"><a href="http://www.vervemobile.com/about-us/latest-news/">Latest News</a></li>-->
                              <!--<li id="menu-item-1366" class="submenu_item"><a href="http://www.vervemobile.com/about-us/ververesearch/">Research</a></li>-->
                              <!--<li id="menu-item-2901" class="submenu_item"><a href="http://www.vervemobile.com/jobs/">Careers</a></li>-->
                  </ul>
      </div>    
   <div class="col-lg-6">
   <h2>Mobile leadership with a difference</h2>
   <p>Harnessing the power of real-time mobile location data, Verve is the pioneering leader in connecting mobile advertising with in-store sales.</p>
   <p>93% of all consumer sales happen in the real-world, in brick and mortar stores. For the first time ever, brands leveraging the patented Verve platform can deliver an ad to a consumer on their mobile digital devices and connect that message to actual store-level foot traffic.</p>
     <p>We analyze billions of precise location signals to better understand the consumer’s path-to-purchase and reach the right people, at the right time, in the right place—when they are most likely to be influenced by your message.</p>
     <p>We drive measurable results for Retailers, CPG, Auto, Restaurant and other drive-to-retail advertisers and we prove it with unparalleled post campaign analytics and insights.</p>
     <p>Verve created the location-based mobile ad category in 2005 and has been the clear leader in the space ever since.</p>

   </div>
    
<div class="col-lg-3" style="background-color:green;"></div>
   
   

</div></div>


