<div class="page-title" id="creative">
   <div class="wrap">
    <h1 class="entry-title" itemprop="headline">Tech and Resources</h1>
   </div>
</div>

<div class="col-md-4" style="background-color:blue; height:50px;"></div>

<div class="col-md-8" style="background-color:red; height:50px;"></div>


